/* App custom css */


body {
  padding-top: 100px;
}

.table {
    font-size: 12px;
}

@media all {
        .page-break     { display: none; }
}

@media print {
    body {
        padding-top: 0;
    }

    button {
        display: none !important;
    }

    .page-break     { display: block; page-break-before: always; }
}
