{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form action="{% url 'recipes.detail' pk %}" method="POST">
    {% crispy form %}
    <h2>Ingredients</h2>
    {% crispy ingredients ingredients_helper %}
    <input class="btn btn-primary" type="submit" name="add_ingredient" value="Add Ingredient"/>
    <h2>Instructions</h2>
    {% crispy instructions instructions_helper %}
    <input class="btn btn-primary"class="btn btn-primary" type="submit" name="add_instruction" value="Add Instruction"/><br><br>
    <input class="btn btn-primary"class="btn btn-primary" type="submit" name="save" value="Save"/>
</form>
{% endblock %}
